:root
{
	--color1: #1f9d7f;
	--color2: #1b65d3;
	--color3: #fcd400;
	--color4: #d42e73;
	--color5: #8135df;

	--color12: #008f7cc0;
	--color22: #006a8dc0;
	--color32: #8b7900c0;
	--color42: #8f0056c0;
	--color52: #5e3194c0;

	--bg-url: url("../images/bg6.png");
}

/*
:root
{
	--color1: #1D4E89;
	--color2: #00B2CA;
	--color3: #7DCFB6;
	--color4: #FBD1A2;
	--color5: #F79256;
}
*/

/* Original Colors
	--color1: #1f9d7f;
	--color2: #2462c0;
	--color3: #c30020;
	--color4: #fcd40;
*/

*
{
	box-sizing:border-box;
}

html
{
	height: 100%;
}

body
{
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	height: 100%;
	/*min-width: 700px;*/
}

a, a:hover, a:focus, a:active
{
	text-decoration: none;
	outline: none;	
}

input, input:hover, input:focus, input:active
{
	outline: none;	
}

.no-uh:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;  
  animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

acronym
{
	text-decoration: none;
	border-bottom: 1px dashed #aaa;
}

.animate1 {
	transform: rotate(5deg);
	animation: animate-one 1s ease both infinite;
}
.animate2 {
	transform : rotate(10deg);
	animation: animate-two 1.5s linear both infinite;	
}
.animate3 {
	animation: animate-three 3s ease both infinite;	
}
.animate4 {
	animation: animate-four 1s linear both infinite;	
}
.animate5 {
	animation: beating 2s ease both infinite;	
}
.animate6 {
	animation: rotation 3s linear both infinite;	
}
.animated {
	animation: animated 2s ease both infinite;	
}

.upndown1 {
	position: relative;
	bottom: 10px;
	animation: updown-one 2s cubic-bezier(.36,.07,.19,.97) both infinite;
}
.upndown2 {
	position: relative;
	bottom: 10px;
	animation: updown-two 2s cubic-bezier(.36,.07,.19,.97) both infinite;
}

.upndown1 {
	position: relative;
	bottom: 10px;
	animation: updown-one 2s cubic-bezier(.36,.07,.19,.97) both infinite;
}

@keyframes updown-one {
	0%, 100% { bottom: 10px; }
	50%  	 { bottom: -10px; }
}
@keyframes updown-two {
	0%, 100% { bottom: -10px; }
	50%  	 { bottom: 10px; }
}
@keyframes scale {
	0%	 	{ transform: scale(0.95); }
	50% 	{ transform: scale(1.05); }
	100% 	{ transform: scale(0.95); }
}
@keyframes animate-one {
	0%	 	{ box-shadow: 0 0 6px rgba(17,140,120,0.7); }
	25%		{ transform: rotate(-5deg);  }
	50% 	{ box-shadow: 0 0 10px rgba(17,140,120,1); }
	75%		{ transform: rotate(5deg); }
	100% 	{ box-shadow: 0 0 6px rgba(17,140,120,0.7); }
}
@keyframes animate-two {
	0%	 	{ box-shadow: 0 0 4px rgba(19,77,153,0.7); transform: rotate(-10deg); }
	25%		{ transform: rotate(10deg); }
	50% 	{ box-shadow: 0 0 10px rgba(19,77,153,1); transform: rotate(-10deg); }
	75%		{ transform: rotate(10deg);  }
	100% 	{ box-shadow: 0 0 4px rgba(19,77,153,0.7); transform: rotate(-10deg); }
}
@keyframes animate-three {
	0% 		{ transform: rotate(72deg); }
	30% 	{ box-shadow: 0 0 10px rgba(153,19,61,1); transform: rotate(180deg); }
	80% 	{ box-shadow: 0 0 4px rgba(153,19,61,0.7); transform: rotate(360deg);}
	100% 	{ transform: rotate(432deg);}
}
@keyframes animate-four {
	0% 		{ transform: rotate(0deg); }
	70% 	{ box-shadow: 0 0 4px rgba(153,63,19,0.8); transform: rotate(10deg);}
	80% 	{ box-shadow: 0 0 4px rgba(153,63,19,0.8); transform: rotate(-30deg);}
	90% 	{ box-shadow: 0 0 4px rgba(153,63,19,0.8); transform: rotate(30deg);}
	100% 	{ transform: rotate(0deg);}
}
@keyframes animated {
	25%		{ transform: rotate(-10deg);  }
	75%		{ transform: rotate(10deg); }
}
@keyframes rock {
	50%	{ transform: rotate(30deg);  }
	0%,100%	{ transform: rotate(0deg); }
}

@keyframes beating {
	0% 		{ transform: scale(1.); }
	10% 	{ transform: scale(1.1); }
	50% 	{ transform: scale(0.9); }
	60% 	{ transform: scale(1.1); }
	100% 	{ transform: scale(1.); }
}

@keyframes rotation {
	0% 		{ transform: rotate(0deg); }
	50% 	{ transform: rotate(180deg); }
	100% 	{ transform: rotate(360deg); }
}

.shaking:hover
{
	animation: shake 0.8s infinite linear;
	transform-origin:    50% 100%;
}
.rocking
{
	animation: rock 3s infinite linear;
}

/* By Steve Jenkins : https://www.gadgetdaily.xyz/master-vim-tutorial/; */
@keyframes shake {
	0% { transform:         translate(2px, 1px) rotate(0deg); }
 	10% { transform:     translate(-1px, -2px) rotate(-2deg); }
 	20% { transform:     translate(-3px, 0px) rotate(3deg); }
 	30% { transform:     translate(0px, 2px) rotate(0deg); }
 	40% { transform:     translate(1px, -1px) rotate(1deg); }
 	50% { transform:     translate(-1px, 2px) rotate(-1deg); }
 	60% { transform:     translate(-3px, 1px) rotate(0deg); }
 	70% { transform:     translate(2px, 1px) rotate(-2deg); }
 	80% { transform:     translate(-1px, -1px) rotate(4deg); }
 	90% { transform:     translate(2px, 2px) rotate(0deg); }
 	100% { transform:     translate(1px, -2px) rotate(-1deg); }
 }

.row
{
	margin: 0;
	padding-top: 0;
}

.id_image
{
	display: inline-block;
	float: right;
	z-index: 2;
	position: absolute;
	top: -80px;
	right: 25px;
	clear: both;

	width: 154px;
	height: 154px;

	background: url("../images/me.png") 0px 0px  no-repeat;
	border: 4px #fff solid;
	border-radius: 5px;

	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);

}

/*
.id_image:hover
{
	background: url("../images/me.png") 0px -150px no-repeat;
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);

}
*/

.section
{
	box-shadow: 0px 0px 10px 0px black;
	min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	min-height: calc(var(--vh, 1vh) * 100);
	min-width: 100%;
	padding: 40px;
	color: white;
}

#landing 
{
	/* position: relative; */
	/*background-color: #f4f5e9;*/
	background-image: var(--bg-url);
}

#mainmenu
{
	width: 100%;
	height: 60%;
	/*margin-top: 10%;*/
	text-align: center;
}

#mainmenu .logo-line
{
	margin: 20px 0;
}
#mainmenu .logo-line img
{
	display: block;
	margin: auto;
}

a.circlelink
{
	display: block;
	max-width: 140px;
	max-height: 140px;
	width: 10%;
	min-height: 80px;
	margin: auto;
}
a.circlelink span
{
	display: block;
	width: 120px;
}

a.circlelink:hover span
{
	font-size: 35px;
}

a.circlelink:hover i
{
	font-size: 80px;
}

a.circlelink span
{
	position: relative;
	z-index: 2;
	font-size: 25px;
}

.circlelink:hover.circle
{
	font-size: 80px;
}

.circlelink span
{
	text-align: center;
	height: 40px;
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	margin: 10px auto 30px;
}

.circle
{
	width: 140px;
	height: 140px;
	text-align: center;
	color: white; 
	font-size: 70px;
	line-height: 140px;
	background: black;
	padding: 0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

a.cvlink span
{
	color: #10878d;
}

.cvlink .circle
{
	background: var(--color1);
	padding-right: 10px;
	box-shadow: 0 0px 8px var(--color12);
	padding-left: 4px;
}

.researchlink .circle
{
	background: var(--color2);
	/* padding-right: 15px; */
	box-shadow: 0 0px 8px var(--color22);
	padding-left: 4px;
}

a.researchlink span
{
	color: var(--color22);
}

.raqlink .circle
{
	background: var(--color4);
	box-shadow: 0 0px 8px var(--color42);
}


a.raqlink span
{
	color: var(--color42);
}

.projectslink .circle
{
	background: var(--color3);
	box-shadow: 0 0px 8px var(--color32);
}

a.projectslink span
{
	color: var(--color32);
}

.contactlink .circle
{
	background: var(--color5);
	box-shadow: 0 0px 8px var(--color52);
}

a.contactlink span
{
	color: var(--color42);
}

.section_header
{
	padding-left: 20px;
	margin-top: 0px;
}
.stack
{
	display: block;	
	margin: auto;
}
.col-stack
{
	display: block;
	height: 155px;
}

.toplink i
{
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 30px;
	line-height: 50px;
	background: white;
	padding: 0px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%
	color: white;
}

.toplink i:hover
{
	font-size: 35px;
	line-height: 50px;
}

.toplink.active i
{
	background: none;
	color: white;
	font-size: 45px;
}

.toplink1 i
{
	color: var(--color1);
}
.toplink2 i
{
	color: var(--color2);
}
.toplink3 i
{
	color: var(--color4);
}
.toplink4 i
{
	color: var(--color5);
}
.toplink5 i
{
	color: var(--color3);
}

.toplink .glyphicon-send
{
	padding-right: 5px;
}

.section_title
{
	font-size: 60px;
}

.space
{
	display: inline-block;
	width: 20px;
}


.footnote
{
	color: #555;
	text-align: center;
	position: relative;
	top: -200px;
}

#cv
{
	background-color: var(--color1); /*401399*/
	background-image: var(--bg-url);
}

#cv .col 
{
	background: white;
	color: var(--color1);
	border: 2px #888 dashed;
	border-radius: 8px;
	margin: 30px 0 10px;
	padding: 30px;
}

#cv .col-xs-0
{
	border: 0px;
}

#cv .personal_info td, #cv .personal_info th
{
	font-size: 16px;
	color: #07585d;
	padding: 5px 5px 5px 10px;
	vertical-align: top;
}

#cv .personal_info a
{
	color: #0f8d5f;
	font-size: 14px;
	font-weight: bold;
}

#cv .education_info .degree
{
	padding-top: 20px;
	font-size: 18px;
	font-weight: bold;
}
#cv .education_info .option
{
	padding-left: 30px;
	font-size: 14px;
	font-weight: bold;
}
#cv .education_info .extra-info .itemized
{
	list-style: square;
}
#cv .education_info .school
{
	padding-top: 7px;
	padding-left: 30px;
	color: #197483;
	font-size: 14px;
	font-weight: bold;
}
#cv .education_info .period
{
	padding-left: 30px;
	color: #197483;
}
#cv .education_info .extra-info
{
	font-size: 12px;
	color: #4e6e6f;
	font-weight: bold;
}
#cv .education_info .extra-info ul
{
	list-style: none;
}
#cv .education_info .extra-info ul li
{
	font-weight: normal;
	font-size: 14px;
	color: #111;
}
#cv .education_info .extra-info ul li b
{
	color: #888;
}

#cv .internships_info .position
{
	padding-top: 20px;
	font-size: 18px;
	font-weight: bold;
}
#cv .internships_info .topic, #cv .education_info .option
{
	padding: 5px 15px;
	font-size: 16px;
	font-weight: bold;
	color:#065457;
}
#cv .internships_info .host
{
	padding-left: 30px;
	font-size: 14px;
	font-weight: bold;
}
#cv .internships_info .period
{
	padding-left: 30px;
	color: #197483;
}
#cv .internships_info .extra-info
{
	font-size: 12px;
	color: #4e6e6f;
	font-weight: bold;
}
#cv .internships_info .extra-info ul
{
	list-style: none;
}
#cv .internships_info .extra-info ul li:before {
    content: "● ";
    font-size: 14px;
    color: #0f8d5f;
}
#cv .internships_info .extra-info ul li b
{
    color: #0f8d5f;
}
#cv .skills_info td, #cv .skills_info th
{
	font-size: 14px;
	color: #07585d;
	padding: 8px 5px 5px 15px;
	vertical-align: top;
}
#cv .skills_info td
{
	font-size: 12px;
	color: #4e6e6f;
	font-weight: bold;
}

/*
.landing_anchor
{
	display: block;
	width: 50px;
	height: 50px;
	background: url('../images/logo_icon.png') center center no-repeat;
	float: right;
	margin: -20px -20px 0 0;
} 
*/

.landing_anchor i
{
	display: block;
	color: white;
	float: right;
	font-size: 30px;
	margin: -20px -20px 0 0;
} 

@media (min-width: 0px) and (max-width: 800px) {
	.col-stack .circlelink 
	{
		width: 100px;
		height: 100px;	
	}
	.col-stack .circlelink:hover i
	{
		font-size: 55px;
	}
	.stack .col-xs-6
	{
		width: 25%;
	}
	.col-stack .circlelink i
	{
		width: 100px;
		height: 100px;
		font-size: 42px;
		line-height: 100px;
	}
}

#research
{
	background: var(--color2); /*134d99*/
	background-image: var(--bg-url);
}

#research #research_brief
{
	background: rgba(0, 0, 0, 0.2);
	border: 1px #888 dashed;
	border-radius: 8px;
	padding: 25px 25px 20px 25px;
	margin: 40px 0px 20px;
}
#research #research_brief p
{
	font-size: 17px;
	margin-top: 10px;
	padding-left: 30px;
}
#research #research_brief a
{
	color: white;
	text-decoration: underline;
}
#research #research_brief h3
{
	margin: 2px 0px 4px;
	font-size: 35px;
}
#research #research_brief h3 i
{
	cursor: pointer;
	color: #eee;
	display: inline-block;
	border-radius: 13px;
	height: 26px;
	width: 26px;
	text-align: center;
	padding: 0 0 0 1px;
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	position: relative;
	left: 10px;
	top: -4px;
	border: 2px solid #eee;
}
#research #research_section h2
{
	padding-left: 30px;
}
#research #research_section h2 i
{
	cursor: pointer;
	color: var(--color3);
	display: inline-block;
	border-radius: 15px;
	height: 30px;
	width: 30px;
	text-align: center;
	padding: 0 0 0 3px;
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	position: relative;
	left: 7px;
	top: -5px;
	background: rgba(0,0,0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
}
#research #research_section .project
{
	background: white;
	color: #1c4e9a;
	border: 2px #888 dashed;
	border-radius: 8px;
	margin: 20px 0 10px;
	padding: 30px;
}
#research #research_section .project .row
{
	margin-bottom: 20px;
}

#research #research_section .project h3
{
	font-weight: bold;
	margin-bottom: 15px;
}
#research #research_section .project .sidebox
{
	background: rgba(19,77,153, 0.1);
	color: #1c4e9a;
	border: 1px #aaa dashed;
	border-radius: 8px;
	margin-top: 30px;
	padding: 8px 15px;
}
#research #research_section .project .sidebox h3
{
	font-size: 16px;
}
#research #research_section .project .sidebox b
{
	display: inline-block;
	color: white;
	font-size: 12px;
	border-radius: 4px;
	background: var(--color12);
	border: 1px solid rgba(153,19,61, 0.2);
	padding: 2px 5px;
	margin: 2px 0px;
}
#research #research_section .description p
{
	color: black;
	font-size: 16px;
}
#research #research_section .description ul
{
	list-style: none;
	color: black;
	font-size: 16px;
}
#research #research_section .description ul li:before {
    content: "○ ";
    color: #0f8d5f;
    position: relative;
    left: -5px;
    top: -1px;
}
#research #research_section .description ul.no-bullets li:before {
	content: "";
}
#research #research_section .description .no-bullets .glyphicon {
	position: relative;
	right: 10px;
}
#research #research_section .comment
{
	color: #1c4e9a;
	font-size: 16px;
	padding: 20px;
	background: rgba(19,77,153, 0.1);
	border-radius: 8px;
	margin-bottom: 20px;
}
#research #research_brief .on
{
	animation: rotate-oneeighty 1s cubic-bezier(.36,.07,.19,.97) both;
}
#research #research_brief .off
{
	animation: rotate-anti-oneeighty 1s cubic-bezier(.36,.07,.19,.97) both;
}

#research #research_section .on
{  
	animation: rotate-oneeighty 1s ease both;
}
#research #research_section .off
{  
	animation: rotate-anti-oneeighty 1s ease both;
}
@keyframes rotate-oneeighty {
	0%	 	{ transform: rotate(0deg);  }
	100%	{ transform: rotate(180deg); }
}
@keyframes rotate-anti-oneeighty {
	0%	 	{ transform: rotate(180deg);  }
	100%	{ transform: rotate(360deg); }
}


#projects
{
	background: var(--color3); /*134d99*/
	background-image: var(--bg-url);
}

#faves 
{
	background: var(--color4); /*99133d*/
	background-image: var(--bg-url);
}

#faves .questions
{
	padding: 30px 20px ;
}

#faves .questions .q
{
	border-radius: 12px;
	background: rgba(0,0,0, 0.1);
	border: 1px solid rgba(0,0,0, 0.2);
	padding: 30px;
	margin: 20px 0px;
}

#faves p
{
	font-size: 1.1em;
}

#faves .questions .q p
{
	margin: auto;
	font-size: 1.1em;
}
#faves .questions i, #faves .questions b  /* shorthand for questions and answers, respectively */
{
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	display: block;
	padding-left: 3px;
}
#faves .questions i
{
	font-size: 20px;
}

#faves .questions i
{
    color: #3c0013;
    text-shadow: 0 0 1px #350112;
}
#faves .questions i:before
{    
	content: "Q:  ";
    font-style: normal;
    color: #3c0013;
}
#faves .questions b:before
{
	font-weight: normal;
	content: "A:  ";
    color: #fec8d9;
}

#contact
{
	background: var(--color5); /*993f13*/
}

#contact .contact_form
{
	background: rgba(0,0,0, 0.1);
	border-radius: 15px;
	padding: 30px;
	margin-top: 30px;
}
#contact .contact_form label
{
	display: block;
	font-style: normal
}
#contact .contact_form .form-control, #contact .contact_form #submit
{
	background: rgba(255,255,255, 0.8);
	display: block;
	width: 100%;
	border: 1px solid rgba(0,0,0, 0.1);
	font-size: 16px;
	color: black;
}
#contact .contact_form .row
{
	padding: 10px;
}
#contact .contact_form #submit
{
	color: white;
	border-radius: 5px;
	border: 0;
	padding: 15px 0;
	background: var(--color4);
	border-bottom:  #8a1037 3px solid;
	margin-top: 10px;
	font-weight: bold;
	box-shadow: 0px 1px 4px rgba(106,10,40, 0.4);
}
#contact .contact_form #submit:active
{
	border-bottom:  #8a1037 2px solid;
	margin-bottom: 2px;
	box-shadow: 0px 0px 2px rgba(106,10,40, 0.4);
}
#contact .contact_form .form-control:disabled
{
	cursor: auto;
	background: rgba(255,255,255, 0.2);
}
#contact .contact_form #submit.sending
{
	background: #c99402;
	border-color: #8f6e15;
}
#contact .contact_form #submit.sent
{
	background: #359911;
	border-color: #266010;
	box-shadow: 0px 0px 3px rgba(40,100,17, 0.4);
}
#contact .contact_form #submit.resend
{
	background: #991010;
	border-color: #5d0e0e;
	box-shadow: 0px 0px 3px rgba(95,15,15, 0.4);
}



/* Gallery */
.lightbox-gallery {
    color: #000;
    overflow-x: hidden
}

.lightbox-gallery p {
    color: #fff
}

.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #fff
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}


.lightbox-gallery .photos {
    padding-bottom: 20px
}


.lightbox-gallery img {
    width: 100px;
}

.lightbox-gallery .item {
    padding-bottom: 30px
}

.vertical-center {
	min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	min-height: calc(var(--vh, 1vh) * 100);
	/*min-width: 100%*/;

	display: flex;
	align-items: center;
}
.vertical-center-2 {
	min-height: 80vh; /* Fallback for browsers that do not support Custom Properties */
	min-height: calc(var(--vh, 1vh) * 80);
	display: flex;
	align-items: center;
}
/**/

.carousel h3
{
	background-color: rgba(0,0,0, 0.25);
	padding: 5px 0px;
	width: 100%;
}

#faves h2
{
	margin: -10px 0px 20px 0px;
}

.carousel p
{
	background-color: rgba(0,0,0, 0.25);
}


.carousel h3 a
{
	border: 0px;
	font-weight: bold;
}


.carousel .carousel-caption
{
	top: 20px;
}

#faves h2
{
	text-align: center;
}


#faves a
{
	color: var(--color3);
}

#faves .carousel
{
	border: 5px rgba(250, 250, 210, 0.2) solid;
	border-radius: 8px;
}


#faves .carousel .item a
{
	color: white;
}

#faves .questions .q p
{
	color: #fafad2;
	line-height: 1.3em;
}


#research #research_section .project i
{
	font-weight: bold;
	font-size: 0.8em;
	color:#32527e;
}


#research #research_section .project i b
{
	font-weight: bold;
	font-size: 1.1em;
	color: #4b8fdd;
}

.cv_icon:hover
{
	color:var(--color1);
}

.research_icon:hover
{
	color:var(--color2);
}

.projects_icon:hover
{
	color:var(--color3);
}

.faves_icon:hover
{
	color:var(--color4);
}

.contact_icon:hover
{
	color:var(--color5);
}

@media (max-width:767px) {
	.section{
		padding-top: 5px;
	}
	.landing_anchor i{
		margin: 10px 5px 0px 0px;
	}
	.id_image{
		width: 120px;
		height: 120px;
		background-position: -10px -20px;
	}

	.footnote {
		display: none;
	}
	#faves p {
		font-size: 1.2em;
	}
	#faves .questions .q p{
		font-size: 1.2em;

	}
	#faves .questions{
		padding: 20px 0px;
	}
	.section{
		padding-left: 15px;
		padding-right: 15px;
	}
	#cv .col, #faves .col, #research .col{
		padding-left: 15px;
		padding-right: 15px;
	}
	#contact .contact_form{
		padding: 5px;
	}
	#contact .contact_form .row{
		padding: 10px 0px;
	}
}

.shadow-separator
{
	height: 30px
}

